**__pycache__
*.o

# files from scons
*.so
*.a
*.os
.scons*
.cache/

# For when users clone godot-cpp into this repo
godot-cpp/
# For the generated extension api json file from godot
extension_api.json
